@model Web_ASP.NET_MVC.Models.FSOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .modal-title, table tr th, h6 {
        color: #333;
    }
</style>

<h2>Chi Tiết Đơn Hàng #@Html.DisplayFor(model => model.OrderCode)</h2>
<p>
    <i class="fas fa-list"></i>
    @Html.ActionLink("Quay về Danh sách đơn hàng", "Index")
</p>

<div class="modal-body">
    <div class="row">
        <div class="col-lg-6">
            <h6 class="font-weight-bold mb-3">Thông tin thanh toán</h6>
            <div>
                <p>Tên: @Model.WebUser.FullName</p>
                <p>Địa chỉ: @Model.WebUser.Address</p>
                <p>Email: @Model.WebUser.Email</p>
                <p>Số điện thoại: @Model.WebUser.Phone</p>
            </div>
        </div>
        <div class="col-lg-6">
            <h6 class="font-weight-bold mb-3">Thông tin giao hàng</h6>
            <div>
                <p>Tên: @Model.WebUser.FullName</p>
                <p>Địa chỉ: @Model.WebUser.Address</p>
            </div>
            <h6 class="font-weight-bold mb-3">Phương thức giao hàng</h6>
            <div>
                <p>Đồng giá 35k</p>
            </div>
        </div>
        <div class="col-lg-12">
            <table class="table mt-4">
                <tr>
                    <th>
                        Sản phẩm
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Tổng
                    </th>
                </tr>
                @{ foreach (var item in Model.OrderDetails)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td>@item.Number</td>
                            <td>@String.Format("{0:0,0}", @item.TotalPrice)₫</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
