@using Web_ASP.NET_MVC.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Web_ASP.NET_MVC.Models.FSOrder>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Tất cả đơn hàng</h2>
<p>
    <i class="fas fa-file-excel"></i>
    @Html.ActionLink("Xuất Excel", "ExportContentToExcel")
</p>
<br />
<p>Tất cả (@ViewBag.message)</p>
<table class="table">
    <tr>
        <th class="text-center">
            Đơn hàng
        </th>
        <th>
            Ngày đặt hàng
        </th>
        <th>
            Tình trạng
        </th>
        <th>
            Đã thanh toán
        </th>
        <th class="text-center">
            Số lượng
        </th>
        <th>
            Tổng tiền
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.OrderCode)
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.OrderDay)
            </td>
            <td>
                @if (item.Status == false)
                {
                    @String.Format("Chưa giao hàng");
                }
                else
                {
                    @String.Format("Đã giao hàng");
                }
            </td>
            <td>
                @if (item.Paid == false)
                {
                    @String.Format("Chưa thanh toán");
                }
                else
                {
                    @String.Format("Đã thanh toán");
                }
            </td>
            <td class="text-center">
                @item.OrderDetails.Sum(x => x.Number)
            </td>
            <td>
                @String.Format("{0:0,0}", item.OrderDetails.Sum(x => x.TotalPrice))₫
            </td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("Details", "Orders", new { id = item.OrderCode })">
                    <i class="far fa-eye"></i>
                </a>
            </td>
        </tr>
    }
</table>

<style>
    .pagination li {
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 5px;
        margin-right: 5px;
        cursor: pointer;
    }

    .pagination .PagedList-skipToNext, .pagination .PagedList-skipToPrevious {
        font-size: 14px;
        border: none;
    }

    .pagination a {
        padding: 6px 14px;
        display: block;
    }
</style>

<div class="col-md-12">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount 
    <div class="pagination d-flex justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
</div>