@using Web_ASP.NET_MVC.Models
@model List<FSOrder>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Đơn hàng</h2>
<br />
<p>Tất cả (@ViewBag.message)</p>
<table class="table">
    <tr>
        <th>
            Đơn hàng
        </th>
        <th>
            Ngày đặt hàng
        </th>
        <th>
            Tình trạng
        </th>
        <th>
            Tổng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @String.Format("{0:0,0}", item.OrderDetails.Sum(x => x.TotalPrice))₫
            </td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("Details", "Orders", new { id = item.OrderCode })">
                    <i class="far fa-eye"></i>
                </a>
            </td>
        </tr>
    }
</table>


