@using Web_ASP.NET_MVC.Models
@model List<ViewOrderDetail>

@{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => @Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Number)
            </td>
            <td>
                @String.Format("{0:0,0}", @Model.O)₫
            </td>
        </tr>
    }
}

