@model IEnumerable<Web_ASP.NET_MVC.Models.ProductCetegory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh Mục Thể Loại</h2>
<div class="d-flex mb-4">
    @using (Html.BeginForm("Index", "Category", FormMethod.Get, new { @class = "d-none d-sm-inline-block form-inline my-2 my-md-0 mw-100 navbar-search" }))
    {
        <div class="input-group">
            <input type="text" name="search" value="@ViewBag.CurrentFilter" class="form-control border-0 small" placeholder="Tìm kiếm...">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    }
    <div class="d-flex">
        <a href="@Url.Action("Create","Category")" class="btn btn-primary ml-4">
            <i class="fas fa-plus"></i>
            Thêm mới thể loại
        </a>
        <a href="@Url.Action("ExportContentToExcel","Category")" class="btn btn-success ml-2">
            <i class="fas fa-file-excel"></i>
            Xuất excel
        </a>
    </div>
</div>
<span>Tất cả (@ViewBag.message)</span>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>MetaTitle</th>
        <th>DisplayOrder</th>
        <th>SeoTitle</th>
        <th>ShowOnHome</th>
        <th>Ngày khởi tạo</th>
        <th>Được tạo bởi</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryCode)
            </td>
            <td style="width: 200px">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeoTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowOnHome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                <a href="@Url.Action("Edit","Category",new { id = item.CategoryCode })" class="btn btn-primary">
                    <i class="far fa-edit"></i>
                </a>
                <a href="@Url.Action("Details","Category",new { id = item.CategoryCode })" class="btn btn-secondary">
                    <i class="far fa-eye"></i>
                </a>
                <a href="@Url.Action("Delete","Category",new { id = item.CategoryCode })" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }

</table>

