@using Web_ASP.NET_MVC.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Web_ASP.NET_MVC.Models.tbl_product>

@*Thuộc tính mô tả nội dung quá dài, do đó sẽ sử dụng một Helper HTML tùy chỉnh cho phép dễ dàng cắt những thuộc tính này với độ dài phù hợp.*@
@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "Fashion";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản Lý Thông Tin Sản Phẩm</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Mô tả</th>
        <th>Ảnh</th>
        <th>SL Tồn</th>
        <th>Thể loại</th>
        <th>Tên công ty</th>
        <th>Ngày cập nhật</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.pro_id)
    </td>
    <td style="width: 200px">
        @Html.DisplayFor(modelItem => item.pro_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pro_price)
    </td>
    <td style="width: 300px">
        @Truncate(item.pro_des, 100)
    </td>
    <td>
        @*<img src="@Url.Content("~/Image/" + item.pro_image)/>*@
        @Html.DisplayFor(modelItem => item.pro_image)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pro_slton)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tbl_category.cat_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tbl_company.cty_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pro_day_update)
    </td>
    <td>
        @Html.ActionLink("Sửa", "Edit", new { id = item.pro_id }) |
        @Html.ActionLink("Chi tiết", "Details", new { id = item.pro_id }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.pro_id })
    </td>
</tr>
    }

</table>


Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount:
<div aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("tbl_product", new { page = page }))
</div>
