@model Web_ASP.NET_MVC.Models.tbl_admin
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Login</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/assets/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/sb-admin-2.css" rel="stylesheet">

</head>

<body class="bg-gradient-light">

    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block" style="background-image: url(https://i.pinimg.com/originals/37/c7/46/37c74640a3cd5c78f8b0813445f07de7.jpg); background-size: cover"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Đăng Nhập</h1>
                                    </div>
                                    @using (@Html.BeginForm())
                                    {
                                        <form class="user">
                                            <p style="color: red">@ViewData["error1"]</p>
                                            <div class="form-group">
                                                @Html.TextBoxFor(x => x.ad_username, new { @class = "form-control form-control-user", @placeholder = "Tên đăng nhập" })
                                            </div>
                                            <p style="color: red">@ViewData["error2"]</p>
                                            <div class="form-group">
                                                @Html.PasswordFor(x => x.ad_password, new { @class = "form-control form-control-user", @placeholder = "Mật khẩu" })
                                            </div>
                                            <p style="color: red">@ViewData["error3"]</p>
                                            <div class="form-group">
                                                <p style="color: red">@ViewBag.error</p>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-user btn-block">Đăng nhập</button>

                                            <hr>
                                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                                <i class="fab fa-google fa-fw"></i> Đăng ký với tài khoản Google
                                            </a>
                                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                                <i class="fab fa-facebook-f fa-fw"></i> Đăng ký với tài khoản Facebook
                                            </a>
                                        </form>
                                    }
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Quên Mật Khẩu?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/Admin/Register">Bạn chưa có tài khoản? Đăng ký</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/assets/js/sb-admin-2.min.js"></script>

</body>

</html>
