@model Web_ASP.NET_MVC.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông Tin Chi Tiết Sản Phẩm</h2>
<p>
    @Html.ActionLink("Quay về Danh sách sản phẩm", "Index")
</p>

<div>
    <dl class="dl-horizontal">
        <dt>ID:</dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>
        <dt>Tên:</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>Giá:</dt>
        <dd>
            @String.Format("{0:0,0}", Model.Price) VNĐ
        </dd>
        <dt>Mô tả:</dt>
        <dd style="width: 700px; text-align: justify">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt>Ảnh:</dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>Số lượng tồn:</dt>
        <dd>
            @Html.DisplayFor(model => model.Quanlity)
        </dd>
        <dt>Thể loại:</dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCetegory.Name)
        </dd>
       
    </dl>
    <br />
    <br />

</div>
