@model Web_ASP.NET_MVC.Models.ProductCetegory

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông Tin Chi Tiết Thể Loại</h2>
<p>
    @Html.ActionLink("Quay về Danh sách thể loại", "Index")
</p>

<div>
    <dl class="dl-horizontal">
        <dt>ID:</dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>
        <dt>Tên:</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>MetaTitle:</dt>
        <dd>
            @Html.DisplayFor(model => model.MetaTitle)
        </dd>
        <dt>DisplayOrder:</dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>
        <dt>SeoTitle:</dt>
        <dd>
            @Html.DisplayFor(model => model.SeoTitle)
        </dd>
        <dt>ShowOnHome:</dt>
        <dd>
            @Html.DisplayFor(model => model.ShowOnHome)
        </dd>
        <dt>Ngày khởi tạo:</dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>Được tạo bởi:</dt>
        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>
    </dl>
    <br />
    <br />

</div>
