@model IEnumerable<Web_ASP.NET_MVC.Models.FeedBack>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Phản Hồi Của Khách Hàng</h2>
<br />
<p>Tất cả (@ViewBag.message)</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Tên
        </th>
        <th>
            SĐT
        </th>
        <th>
            Email
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Nội dung
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Ngày gửi
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeedBackCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FbStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.ActionLink("Xóa", "Delete", new { id = item.FeedBackCode }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>


