@model IEnumerable<Web_ASP.NET_MVC.Models.Slide>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản Lý Thông Tin Banner</h2>
<div class="d-flex">
    <a href="@Url.Action("Create","Slide")" class="btn btn-primary">
        <i class="fas fa-plus"></i>
        Thêm mới sản phẩm
    </a>
</div>
<br />
<span>Tất cả (@ViewBag.message)</span>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Ảnh</th>
        <th>Mô tả</th>
        <th>Được tạo bởi</th>
        <th>Ngày khởi tạo</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SlideCode)
            </td>
            <td>
                <img src="@Url.Content(item.Link)" height="50" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a href="@Url.Action("Edit","Slide",new { id = item.SlideCode })" class="btn btn-primary">
                    <i class="far fa-edit"></i>
                </a>
                <a href="@Url.Action("Details","Slide",new { id = item.SlideCode })" class="btn btn-secondary">
                    <i class="far fa-eye"></i>
                </a>
                <a href="@Url.Action("Delete","Slide",new { id = item.SlideCode })" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }

</table>


